<div class="container">
  <div class="listaPcts" *ngIf="!isButtonEnabled">
    <div class="busca">
      <label for="">Busca paciente: </label>
      <input type="text" [(ngModel)]="nomePesquisa" />
      <button (click)="filtraPct(nomePesquisa)">Pesquisar</button>
    </div>
    <div class="card">
      <li [class.selected-card]="pacienteSelected && pacienteSelected.id === patient.id"
      class="card"
      
      *ngFor="let patient of listaPacientes"
      (click)="onPacienteSelected(patient)">
      <div>
        <a>
          <i class="material-icons">person</i>
        </a>
        <p>
          <span>{{ patient.fullName }}</span>
        </p>
      </div>
    </li>
  
    </div>
  
  </div>
  
  
  <div class="formulario">
      <form [formGroup]="ExamesForm" (ngSubmit)="onSubmit()">
          <div class="exame">
              <label for="nomeExame" >Nome do exame: </label>
              <input type="text" id="nomeExame" formControlName="nomeExame"  class="form-control">
              <label for="dataExame">Data exame: </label>
              <input type="text" id="dataExame" formControlName="dataExame" class="form-control">
              <label for="horarioExame">Horário exame: </label>
              <input type="text" id="horarioExame" formControlName="horarioExame" class="form-control">
              <p>
                <label for="tipoExame">Tipo exame:: </label>
                <input type="text" id="tipoExame" formControlName="tipoExame" class="form-control">
                <label for="laboratorio">Laboratório: </label>
                <input type="text" id="laboratorio" formControlName="laboratorio" class="form-control">
                <label for="resultados">Resultados: </label>
                <input type="text" id="resultados" formControlName="resultados" class="form-control">
              </p>
              
              
            </div>
     
            <p>
              <button type="submit">Cadastrar</button>
            </p>
          </form>
     
      <p>
          <button *ngIf="isButtonEnabled" >Deletar</button>
        </p>
        <p>
          <button *ngIf="isButtonEnabled" >Editar</button>
        </p>
       
  
  
  </div>
  
  
  
  </div>