.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
  
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-align: center;
    justify-content: center;

}
span{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    border-style: double;
    max-width: 25%;
    padding: 50px;
    text-align: center;
    margin: 10px;
}
.busPct{
    text-align: center;
}
li{
    list-style-type: none;
}